{% extends "sistema/base.html" %}

{% block title %}
Bambini
{% endblock %}

{% block contenido %}
  <h1>Productos</h1>

  {% if productos %}
    <div class="container text-center">
      <div class="table-responsive bg-light mb-3">
        <table id="example" class="table table-secondary display" style="width:100%">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nombre</th>
              <th scope="col">Tipo de producto</th>
              <th scope="col">Valor unitario</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Acción</th>
            </tr>
          </thead>
          <tbody>
            {% for producto in productos %}
              <tr>
                <td scope="row">{{ producto.id }}</td>
                <td scope="row">{{ producto.nombre }}</td>
                <td scope="row">{{ producto.tipo_producto }}</td>
                <td scope="row">{{ producto.valor_unitario }}</td>
                <td scope="row">{{ producto.cantidad }}</td>
                <td>
                  <a href="{% url 'editarProductos' id=producto.id %}" class="btn btn-warning">Editar</a>
                  <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#confirmacionBorradoModal{{ producto.id }}">Borrar</a>
                </td>
              </tr>
              
              <!-- Cuadro de diálogo modal -->
              <div class="modal fade" id="confirmacionBorradoModal{{ producto.id }}" tabindex="-1" role="dialog" aria-labelledby="confirmacionBorradoModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="confirmacionBorradoModalLabel">Confirmación de Borrado</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>¿Estás seguro de que deseas borrar este producto?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                      <a href="{% url 'borrarProductos' id=producto.id %}" type="button" class="btn btn-danger" id="confirmarBorrado">Borrar</a>
                    </div>
                  </div>
                </div>
              </div>
              
            {% endfor %}
            <div class="container">
              <div class="row">
                <button id="confirmacion" class="btn btn-outline-primary btn-lg btn-block"></button>  
              </div>
            </div>
          </tbody>
        </table>
      </div>
    </div>
  {% else %}
    <p>No hay productos disponibles.</p>
  {% endif %}

  <a href="{% url 'ingresarProductos' %}" class="btn btn-primary">Ingresar Producto</a>
  
{% endblock %}

<script>
  // Captura el evento de confirmar el borrado y actualiza el enlace de borrado real
  $('.modal-footer #confirmarBorrado').on('click', function(event) {
    event.preventDefault();
    var link = $(this).attr("href");
    $('#confirmacionBorradoModal').modal('hide');
    // Muestra la alerta de confirmación nuevamente para evitar borrar accidentalmente al hacer clic en "Cancelar" en la alerta
    $('#confirmacionBorradoModal').on('hidden.bs.modal', function() {
      window.location.href = link;
    });
  });
</script>
