{% extends "sistema/base.html" %}

{% block title %}
Usuarios Registrados
{% endblock title %}

{% block contenido %}
<div class="container card mt-5 text-center">
    <h1 class="text-center display-3 mb-5">Usuarios Registrados</h1>
    <div class="table-responsive">
        <table id="example" class="table table-bordered table-striped" style="width:100%">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Rol</th>
                <th scope="col">Correo Electrónico</th>
                <th scope="col">Acción</th>
              </tr>
            </thead>
            <tbody>
              {% for usuario in usuarios %}
              <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.first_name }}</td>
                <td>{{ usuario.last_name }}</td>
                <td>{{ usuario.rol.rol }}</td>
                <td>{{ usuario.username }}</td>
                <td>
                  <button href="#" id="confirmacionBorradoModal{{ usuario.id }}" class="btn btn-danger" data-toggle="modal" data-target="#confirmacionBorradoModal{{ usuario.id }}">Borrar</button>
                </td>
              </tr>
              <script>
                $(document).ready(function() {
                  $('#confirmacionBorradoModal{{ usuario.id }}').click(function() {
                    const swalWithBootstrapButtons = Swal.mixin({
                      customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-danger'
                      },
                      buttonsStyling: false
                    });
                    swalWithBootstrapButtons.fire({
                      title: '¿Estás seguro de que deseas eliminar este usuario?',
                      text: "¡No podrás revertir esto!",
                      icon: 'warning',
                      showCancelButton: true,
                      confirmButtonText: 'Sí, borrar',
                      cancelButtonText: 'No, cancelar',
                      reverseButtons: true,
                      allowOutsideClick: false,
                    }).then((result) => {
                      if (result.isConfirmed) {
                        // Realizar la acción de borrado
                        swalWithBootstrapButtons.fire({
                          title: 'Deleted',
                          text: 'El usuario fue eliminado con éxito :)',
                          icon: 'success',
                          showConfirmButton: true,
                          allowOutsideClick: false,
                        }).then(() => {
                          // Redireccionar a la URL después de mostrar el mensaje y esperar 1 segundo
                          setTimeout(function() {
                            window.location.href = "{% url 'borrarUsuario' id=usuario.id %}";
                          });
                        });
                      } else if (result.dismiss === Swal.DismissReason.cancel) {
                        swalWithBootstrapButtons.fire({
                          title: 'Cancelado',
                          text: 'El usuario no fue eliminado :)',
                          icon: 'error',
                          showCancelButton: false, // Ocultar el botón de cancelar
                          showCloseButton: true, // Mostrar el botón "Cerrar"
                        }).then(() => {
                          // Redireccionar a la URL después de que se muestre el mensaje
                          window.location.href = "{% url 'usuarios' %}";
                        });
                      }
                    });
                  });
                });
              </script>
              {% endfor %}
            </tbody>
          </table>
    </div>
</div>
{% endblock contenido %}
